body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 8px;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 5px;
}

#timer {
    font-size: 30px;
    margin: 20px;
}